html {
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background: #03a9f4;
}
#main {
  max-width: 400px;
}
.center {
  text-align: center;
}
.padding {
  padding: 1em;
  margin: 0;
}
.mono {
  font-family: monospace;
}
.fontColor {
  color: #251e08;
}
button {
  text-transform: uppercase;
  border: 0;
  border-radius: 0.4em;
  /*background: #27bf3b;*/
  background: #673ab7;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  cursor: pointer;
  padding: 1em;
  margin: 0;
}
button[disabled] {
  opacity: 0.3;
  color: #69ab62;
  cursor: auto;
}
input[type="text"] {
  height: 2em;
}
input[type="checkbox"] {
  width: 2em;
  height: 2em;
}
td {
  padding: 0.4em;
}

